<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.expense">


    <uses-permission android:name="android.permission.CALL_PHONE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.expense.MainActivity"
            android:label="@string/app_name">

        </activity>
        <activity
            android:name="com.expense.add_money"
            android:parentActivityName=".MainActivity"

            android:label="Add Money">


        </activity>


        <activity
            android:name="com.expense.Statistics"
            android:parentActivityName="com.expense.MainActivity"
            android:label="Statistics">
            -

        </activity>
        <activity
            android:name="com.expense.edit"
            android:parentActivityName=".MainActivity"
            android:label="@string/title_activity_information" />

        <activity android:name="com.expense.login" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.expense.register" >



        </activity>

    </application>

</manifest>